@import '../../../bower_components/stylus-nib'
@import '../../css/scrollbar.styl'

.vertical
.horizontal
.both
  // Use relative, absolute or fixed position.
  position relative
  width 350px
  // Outline is better than border, because border triggers element mouseenter
  // but no scrollbar mouseenter immediately.
  outline solid 1px #ccc

.vertical
  height 150px

.horizontal
  height 70px

  > .goog-slider-horizontal
    opacity 1

.both
  height 120px

.horizontal .content
.both .content
  white-space nowrap

.content p
  margin 2px
  padding 3px 4px
  background-color #eee
  font-size 12px

.horizontal .content p
.both .content p
  display inline-block
  text-align center
  width 60px
  height 60px
  line-height 60px

.both .content p:nth-child(10n+10)
  display block

/* Custom styles for both vertical and horizontal scrollbars. */

/* Shrink scrollbars to prevent overlapping. */
.both > .goog-slider-vertical
  bottom 11px
.both > .goog-slider-horizontal
  right 11px

/* Hide scrollbars backgrounds. */
.both > .goog-slider-vertical
.both > .goog-slider-horizontal
  background-color transparent

button
  margin .5em
  padding .4em .3em