{namespace este.demos.app.simple.products.detail.templates autoescape="contextual"}

/**
 * @param id
 */
{template .element}
  <h3>Product/{$id} rendered</h3>
  <h4>Redirection without link demo</h4>
  <p>You should always use links for redirection, this example shows how to
  perform redirect from code.</p>
  <button>redirect to products</button>
{/template}